@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";
}


<div class="d-flex justify-content-center align-items-center vh-100" style="background: #f5f5f5;">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px; border-radius: 15px;">
        <h2 class="text-center mb-4" style="color: #333; font-weight: 600;">Iniciar sesi칩n</h2>

        @if (TempData["ErrorMensaje"] != null)
        {
            <div class="alert alert-danger text-center">
                @TempData["ErrorMensaje"]
            </div>
        }

        <form asp-action="Login" method="post">
            @Html.AntiForgeryToken()

            <div class="form-group mb-3">
                <label for="nombreUsuario" class="form-label fw-bold">Usuario</label>
                <input name="nombreUsuario" class="form-control" id="nombreUsuario" placeholder="Ingrese su usuario" required style="border-radius: 10px;"/>
            </div>

            <div class="form-group mb-4">
                <label for="contrasena" class="form-label fw-bold">Contrase침a</label>
                <input name="contrasena" type="password" class="form-control" id="contrasena" placeholder="Contrase침a" required style="border-radius: 10px;"/>
            </div>

            <button type="submit" class="btn btn-primary w-100" style="border-radius: 10px; background: linear-gradient(90deg,#4e73df,#224abe); border: none; padding: 10px 0; font-weight: 500;">Iniciar sesi칩n</button>
        </form>
    </div>
</div>

